@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
  
body {
    line-height: 1.4;
    background-color: #dadada;
}

/* .wrapper {
    padding: 0 1rem;
} */

header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
}

div.user-status {
    text-align: right;
    padding: 1rem 1rem 0 0;
}

div.user-status p {
    font-weight: bold;
}

div.user-status a {
    font-weight: normal;
    text-decoration: underline;
}

main {
    margin: auto;
    padding: 1rem;
}

.page-title {
    margin: 1rem 0;
}

div.posts-list {
    position: relative;
}

div.post-detail {
    position: absolute;
}

.hidden {
    display: none;
}

.post-body {
    margin-bottom: 1rem;
}

ul {
    list-style-type:none;
}

li {
    background-color: #f4f4f4;
    padding: 10px; 
    border-bottom: 1px #ccc dotted;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    padding: 6px 12px;
    background-color: #fff;
}

.btn {
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
}

.btn-submit {
    background-color: #0275d8;
}

button.btn-edit {
    float: right;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    background-color: #f4f4f4;
}

